body{
    background-color: #7383ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    text-align: center;
}
h1{
    color: bisque;
    font-size: 4em;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-color: red;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
    border: 5px solid red;
}
ul{
    list-style-position: inside;
}
strong{
    font-style: bold;
}
blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
}
